*{
    margin: 0;
    padding: 0;
    font-family:'Popins', sans-serif;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background-image: url(Images/background.png);
    
    color: #080808;;
}
#header{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100px;
}
.logo{
    position: absolute;
    top: 50px;
    left: 20px;
    width: 50px;
    height: 50px;
    align-self: start;
    
}
.container h3{
    position: absolute;
    color: #080808;
    top:65px;
    left: 80px;
}
.container a hover{
    background: #fff;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
}
nav ul li a{
    top: 40px;
    right: 30px;
    color: #080808;
    text-decoration: none;
    font-size: 15px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #E75480;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 50px;
    color: #E75480;
}

.btn{
    position: absolute;
    top: 0;
    right: 30px;
    display: block;
    align-self: auto;
    margin: 50px auto;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 4px;
    text-decoration: #fff;
    color:#E75480 ;
    background-color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #fff;
    
}





/*---------------about-------------*/
#about{
    padding: 80px 0;
    margin-top: 10%;
    font-size: 20px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 50%;
}
.contact-col-1{
    flex-basis: 50%;
}
.contact-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1px,0.2fr));
    grid-gap:10px;
    margin-top: 30px;
    
}
.contact-list a{
    height: 50px;
    background:#fff;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.contact-list i{
    font-size: 25px;
    margin-bottom: 20px;
    color: #080808;
}

.contact-col-2{
    flex-basis: 40%;  
}
.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1px,0.2fr));
    grid-gap:20px;
    margin-top: 30px;
}
.skill-list a{
    height: 50px;
    width: 50px;
    background:#fff;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.skill-list img{
    height: 25px;
    width: 25px;
}
.skill-list i{
    font-size: 25px;
    margin-bottom: 20px;
}




.about-col-1 p{
    font-size: 15px;
}

.about-col-1 h1{
    font-size: 35px;
    margin-top: 20px;
}
.about-col-1 h1 span{
    color: #E75480;
}
.about-col-2{
    flex-basis: 40%;
}
.about-col-2 img{
    height: 400px;
    width: 100%;
    background-position: 25% 75%;
    background-color: #fff;
}






/*------------------------features---------------*/
#features{
    padding: 30px 0;
}
.features-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:60px;
    margin-top: 50px;
    
}
.features-list div{
    background:#fff;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.features-list div i{
    font-size: 25px;
    margin-bottom: 20px;
    color: #E75480;
}
.features-list div:hover{
    background: #fff;
    transform: translateY(-10px);
}






/*-------------------portifolio--------------------*/
.portifolio{
    padding: 50px 0;
}
.portifolio-container p span{
    color: #E75480;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:60px;
    margin-top: 50px;
}
.work-list div{
    background:#fff;
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s,transform 0.5s;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 10px;
    display: block;
}
.work-col-1{
    align-items: center;
    flex-basis: 50%;
}

.work-col-1 p{
    
    padding: 5px;
    align-items: baseline;
    font-size: 13px;
    color:#E75480 ;
}
.work-col-2{
    flex-basis: 50%;
    align-items: center;
}
.work-col-2 a{
    padding: auto;
    font-size: 13px;
    color: #080808;
    margin-left: 80px;
}
.work h3{
    position: relative;
    top:0px;
    left: 5px;
    align-items: center;
    margin: 20px;
}








    
